body {
  background-color: lightblue;
  font-family: "Sour Gummy", sans-serif;
}

h1 {
  color: white;
  text-align: center;
  font-size: 32px;
}

.ramen-info {
  color: mediumvioletred;
  text-align: center;
}

p {
  text-align: center;
  font-size: 23px;
  font-weight: 300;
  letter-spacing: -1px;
  line-height: 1.4;
  word-spacing: -1px;
}

.ramen-photo {
  width: 80%;
  height: 80%;
  border-radius: 10px;
  margin: 30px auto;
  display: block;
  flex-direction: row;
  position: sticky;
  padding: 5px;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

footer {
  text-align: center;
  font-size: 18px;
}

footer a {
  margin: 0 10px;
  color: mediumvioletred;
}
